.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-secondary);
    height: var(--navbar-height);

    position: relative;
    z-index: 1000;

}

.container {
    width: var(--max-width);
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.iconContainer {
    /* background-color: aqua; */
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.iconContainer a {
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: "var(--icon-secondary)";
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
}

.icon:hover {
    fill: var(--icon-secondary-hover);
}

.dropdownHighlight {
    font-weight: var(--dropdown-text-highlight-weight);
    color: var(--dropdown-text-red);
}

.dropdownDivider {
    height: 1px;
    background-color: var(--dropdown-hover);
    margin: 0.5rem 0;
}

.link {
    text-decoration: none;
    color: var(--text-primary);
}