.card {
  
  background: var(--bg-secondary);
  border-radius: var(--br);

  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  overflow: hidden;

  text-decoration: none;
  color: inherit;

  padding: 1.5rem;
  flex: 1;
}

.transparent {
  background-color: transparent;
}