.productContainer {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 2rem;
  align-items: start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  border-radius: var(--br);
  padding: 1.5rem;
}

.productImage {
  width: 100%;

  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--br);
}

.buttonIcon {
  fill: var(--icon-secondary);
  width: 1rem;
  aspect-ratio: 1/1;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.productBrand {
  font-weight: 400;
  font-size: 1.25rem;
}

.productTitle {
  font-weight: 500;
  font-size: 1.75rem;
}

.productRating {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.productPrice {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1.2rem;
}
